@import "variable.styl"

body, html
  line-height: 1
  font-family: 'Microsoft YaHei', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transparent
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $color-text

body, blockquote, dd, dl, figure, form, p, pre, h1, h2, h3, h4, h5, h6
  margin: 0
input::-webkit-input-placeholder
  /* placeholder颜色  */
  color: #aaa;
  /* placeholder字体大小  */
  font-size: 12px;
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track-piece { background-color: #fff; -webkit-border-radius: 6px; }
::-webkit-scrollbar-thumb:vertical { height: 10px; background-color: #e0e0e0; -webkit-border-radius: 6px; }
::-webkit-scrollbar-thumb:horizontal { width: 10px; background-color: #e0e0e0; -webkit-border-radius: 6px; }
a
  color: $color-text;
  text-decoration: none;
  cursor: pointer;

menu, ul, ol
  list-style: none;
  margin: 0;
  padding: 0;

ul li
  list-style: none;

*
  box-sizing border-box

// 公用类名---------------
.clear:after
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility:hidden;
  clear: both;

.center
  text-align center

.bold
  font-weight bold

.relative
  position relative

.float-right
  float right

.float-left
  float left

.pointer
  cursor pointer

.offer-b-card
  background $color-background-d
  border-radius 5px
  box-shadow 4px 4px 10px 0 rgba(0,0,0,.12)
  padding 0 28px 0 28px

.offer-b-title
  line-height 76px
  font-size 20px
  font-weight bold
  font-family 'Arial-BoldMT'
  color $color-text

.line
  width 100%
  background-color $color-background
  height 1px
  margin-bottom 23px

.ellipsis
 text-overflow ellipsis
 overflow: hidden
 white-space: nowrap

.h136
  height 136px
.w333
  width 333px
.w375
  width 375px
.w414
  width 414px
.w129
  width 129px

.hover-text-color
  &:hover
    color #FFCF10!important
.hover-bg-color
  &:hover
    background-color #FFE271!important