@import './variable.styl'
.new-wrapper
  .offer-b-card
    margin-bottom 25px
    padding-bottom 48px
    .offer-b-title
      border-bottom 1px solid $color-line-b
      margin-bottom 33px
    .el-form
      .el-form-item
        .el-form-item__content
          width 414px
          .el-textarea__inner
            height 100%
          .el-input, .el-input__inner
            width 100%
          .select-range
            .el-select__tags
              >span
                display block
                text-align center
                >span
                  vertical-align middle
                  &:first-child
                    max-width 70%
                    overflow hidden
                    text-overflow ellipsis
                    white-space nowrap
        &.releasing
          border-top 1px solid $color-line-b
          padding-top 14px
          .el-button--primary, .el-button--default
            width 180px
        &.new-description
          .el-form-item__content
            position relative
            .counter
              position absolute
              bottom 0
              right 10px
              color #c0c4cc
              font-size $font-size-small

